#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        leader: leader {
            compatible = "zmk,behavior-leader-key";
            #binding-cells = <0>;

            leader_seq_one {
                sequence = <N0 N1>;
                bindings = <&kp A>;
            };

            leader_seq_two {
                sequence = <N0 N2>;
                bindings = <&kp B>;
            };

            leader_seq_three {
                sequence = <N1>;
                bindings = <&kp C>;
            };
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp N0 &kp N1
                &kp N2 &leader
            >;
        };
    };
};
